body {
    font-family: SpotifyMixUI, 'CircularSp-Arab', 'CircularSp-Hebr', 'CircularSp-Cyrl', 'CircularSp-Grek', 'CircularSp-Deva', "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
    background-color: rgb(12, 12, 12);
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-bar {
    position: fixed;
    background-color: #0d0e0d;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px 20px;
    border: none;
    margin: auto;
    z-index: 1;
}

.home>.nav-link, .home>.search-container {
    display: flex;
    
}

.nav-bar .logo {
    color: #f5f1f1;
}

.nav-bar:hover {
    background-color: rgba(12, 11, 11, 0.959);
    /* transform: scale(1.06);
    transition: 2s ease; */
}

.home {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    border: none;
    border-radius: 25px;
    background-color: rgba(179, 179, 179, 0.2);
    margin-left: 10px;
    padding: 5px;
    padding-left: 4px;
}

.search-container input {
    background: none;
    padding: 20px;
    height: 20px;
    max-width: 300px;
    min-width: auto;
    border: none;
    border-right: 3px solid rgba(179, 179, 179, 0.2);
    font-size: 16px;
}

.search-container button {
    border: none;
    background: none;
    color: #b3b3b3;
    font-size: 16px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    text-decoration: none;
    align-items: flex-start;
    padding-top: 5px;
    padding-right: 10px;
}

.form .nav-link {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.form .nav-link-2 {
    padding: 10px;
    color: #000000;
    border: none;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    font-size: 16px;
}

.form .nav-link-2:hover {
    background-color: rgba(252, 250, 250, 0.959);
    transform: scale(1.1);
    transition: 200ms ease;
}

.container {
    display: flex;
    padding-top: 48px;
    flex: 1;
    gap: 20px;
    width: 100%;

}

.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    padding: 19px 15px 2px 10px;
    margin-left: -60px;
    width: 700px;
    border: none;
    background-color: rgb(46, 44, 44, 0.6);
    border-radius: 10px;
    list-style: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
   
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    padding-top: 0px;
}



.sidebar-title a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.sidebar ul li {
    list-style-type: none;
}

.side-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    padding: 0 5px 0 0;
    height: 100%;
}

.side-content-1, .side-content-2 {
    padding: 15px;
    padding-left: 25px;
    border-radius: 10px;
    background-color: rgb(46, 44, 44, 0.8);
}

.side-content-1 h3, .side-content-2 h3 {
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
}

.side-content-1 p {
    color: rgba(240, 248, 255, 0.8);
    font-size: 14px;
    font-weight: 700;
}

.side-content-1 a, .side-content-2 a {
    color: #131212;
    border: none;
    background-color: aliceblue;
    border-radius: 17px;
    padding: 8px 14px 8px 14px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.side-content-1 a:hover, .side-content-2 a:hover {
    background-color: rgba(252, 250, 250, 0.959);
    transform: scale(1.1);
    transition: 200ms ease;
}


.sidebar-footer {
    margin-top: 10px;
    
    color: #b3b3b3;
    text-decoration: none;
    padding: 10px;
    
}
.sidebar-footer ul li {
    display: flex;
    
    justify-content: center;
    
}

.sidebar-footer a {
    color: #b3b3b3;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px;
    color: aliceblue;
    background-color: rgb(46, 44, 44, 0.6);
    border-radius: 10px;
    width: 100%;
}

.top, .semi-middle, .middle, .bottom {
    display: flex;
    color: aliceblue;
    background-color: rgb(46, 44, 44, 0.6);
    border-radius: 10px; 
} 


.footer-content {
    display: inline-flex;
    justify-content: space-between;
    gap: 4px;
    padding: 10px 20px;
    margin: 0px 7px 7px 5px;
    width: 100%;
    background: linear-gradient(90deg, rgba(247,29,253,1) 10%, rgba(237,125,229,1) 32%, rgba(127,133,224,1) 60%);
}



footer p, h3 {
    padding-top: 5px;
    line-height: 1.2;
    font-size: 15px;
    font-weight: 550;
    color: rgba(255, 255, 255, 0.9);
}

.footer-content>.nav-link-2 {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 120px;
    padding: 9px 4px 20px 9px;
    margin-bottom: 0 ;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: aliceblue;
    border-radius: 15px;
    width: 120px;
    height: 40px;
}

.footer-content>.nav-link-2:hover {
    background-color: rgba(252, 250, 250, 0.959);
    transform: scale(1.1);
    transition: 200ms ease;
}