body {
    font-family: "Sono", sans-serif;
    
  }

 

  .pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
   
  }

  .pricing-plan {
    flex: 1;
    max-width: 400px;
    text-align: center;
  }


  .pricing-plan>.plan-title {
    padding-top: 10px;
    font-size: 20px;
  }

  .pricing-container ul>li {
    list-style: none;
    padding: 5px 15px;
  }

  .pricing-plan {
    background-color: aliceblue;
    border:  solid white;
  }

  .plan-title,.plan-price {
    font-size: 40px;
    font-weight: bold;
  }





  .plan-button {
    background-color: #f70662c9;
    border: none;
    padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

   /* Hint: What can you do with a media query and flexbox? */
   @media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        height: 100%;
    }
  }